.hexagone {
  width: 100vh; /* PLUS LARGE comme avant */
  aspect-ratio: 1.5 / 1; /* étiré horizontalement */
  position: relative;
  margin: auto;
  filter: drop-shadow(0 20px 30px rgba(0,0,0,0.55));
}

.hexagonemain {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    20% 5%,
    80% 5%,
    100% 50%,
    80% 95%,
    20% 95%,
    0% 50%
  );

  background: linear-gradient(
    145deg,
    #8a4b1c,
    #5c2e0f
  );

  box-shadow:
    inset 0 0 0 3px rgba(255,255,255,0.08),
    inset 0 -30px 40px rgba(0,0,0,0.35);

  pointer-events: none;
}


/* PAGE */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(circle at top, #6a6a6a, #3a3a3a);
}

/* TITRE */
.titre {
  font-family: "Segoe UI", sans-serif;
  font-size: 2.6rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #f3f3f3;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
